
<div class="container-home my-5">
    <div class="p-5 text-center  rounded-3">
        
        <h1 class="text-body-emphasis">Alpha-Blog</h1>
        <p class="col-lg-8 my-5 mx-auto fs-5 ">
        WoW
        </p>
        <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex  align-items-center btn btn-dark btn-lg px-4 rounded-pill" type="button"> REGISTRATI </button>
        
        </div>
    </div>
</div>


<div class= "links text-center">
    <%= link_to "Articles Listing", articles_path %> | 
    <%= link_to "About page", about_path %> 
</div>
